:root {
    --color__background: #282a36;
    --color__current-line: #44475a;
    --color__selection: #44475a;
    --color__foreground: #f8f8f2;
    --color__comment: #6272a4;
    --color__cyan: #8be9fd;
    --color__green: #50fa7b;
    --color__orange: #ffb86c;
    --color__pink: #ff79c6;
    --color__purple: #bd93f9;
    --color__red: #f55;
    --color__yellow: #f1fa8c;
    --font__medium: 16px;
    --font__small: 12px;
    --font__large: 20px;
    --font__xlarge: 24px;
}

body {
    font-family: sans-serif;
    font-size: var(--font__medium);
    font-weight: 300;
    background-color: var(--color__background);
    color: var(--color__foreground);
}

input[type="text"],
input[type="number"] {
    background-color: var(--color__background);
    color: var(--color__foreground);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color__comment);
    border-radius: 4px;
}

button,
input[type="submit"] {
    background-color: var(--color__selection);
    color: var(--color__foreground);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color__selection);
    font-weight: 300;
    padding: 4px 12px;
}

button:active,
button:focus,
button:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color__cyan);
}

button:active,
input[type="submit"]:active {
    transform: translateY(1px);
}

button:disabled,
input[type="submit"]:disabled {
    transform: none;
}

input:disabled {
    background-color: var(--color__background);
    color: var(--color__comment);
}

.icon {
    vertical-align: middle;
    height: 1em;
    width: auto;
}

.button-ghost {
    background: none;
    border: none;
}

.button-ghost:hover,
.button-ghost:active,
.button-ghost:focus {
    background-color: var(--color__selection);
    border: none;
}

a {
    color: var(--color__cyan);
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: var(--color__pink);
    text-decoration: underline;
}

h1 {
    font-size: var(--font__xlarge);
    font-weight: 200;
    text-align: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color__foreground);
    margin: 1em auto;
    padding-bottom: 8px;
    width: 80vw;
}

h2 {
    font-size: var(--font__large);
    font-weight: 200;
}

h3 {
    font-size: var(--font__medium);
    font-weight: 400;
    margin-top: 2em;
}

svg {
    max-width: 100%;
    height: auto;
}

th {
    font-weight: 400;
}

.font-small {
    font-size: var(--font__small);
}

.center-text {
    text-align: center;
}

.color-green {
    color: var(--color__green);
}

.main {
    width: 100%;
    margin: auto;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    margin: 1em 0;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.toolbar__item {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.force-graph {
    max-width: 100%;
}

.how-to {
    padding: 0 8px;
}

.footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color__foreground);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 4px;
    margin-top: 24px;
}

.graph-table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.graph-table {
    border-collapse: collapse;
}

.graph-table th {
    font-weight: 300;
    vertical-align: middle;
}

.graph-table__button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: var(--color__foreground);
    font-size: var(--font__medium);
}

.graph-table__cell-mated .graph-table__button {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color__green);
}

.graph-table__button:disabled:hover,
.graph-table__button:disabled:focus,
.graph-table__button:disabled:active {
    border: none;
}

.graph-table__name-button {
    background: var(--color__background);
    color: var(--color__foreground);
    border-color: var(--color__background);
    font-size: var(--font__medium);
    font-weight: 300;
    min-width: 2em;
}

.graph-table__name-button:hover,
.graph-table__name-button:focus,
.graph-table__name-button:active {
    background: var(--color__selection);
    color: var(--color__foreground);
}

.graph-table__name-button:disabled:hover,
.graph-table__name-button:disabled:focus,
.graph-table__name-button:disabled:active {
    border: none;
    background: none;
}

.graph-table__top-name {
    /* text-orientation: upright; */
    width: 1em;
    padding-bottom: 0.25em;
}

.vertical-lr {
    writing-mode: vertical-lr;
}

.graph-table__side-name {
    padding-right: 0.25em;
}

.graph-table__cell {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--color__current-line);
}

.graph-table__null-cell {
    border-style: none;
}

.graph-table__cell-mated .graph-table__button:hover,
.graph-table__cell-mated .graph-table__button:focus,
.graph-table__cell-mated .graph-table__button:active {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color__cyan);
}

.match-adder__weight {
    width: 2em;
}

[data-reach-dialog-content] {
    background-color: var(--color__background);
    color: var(--color__foreground);
    border-radius: 8px;
    box-shadow: 0 0 24px 0 rgba(10, 10, 10, 1);
    padding: 8px;
    width: 320px;
    margin: 48px auto;
    overflow-x: hidden;
}

[data-reach-dialog-content].dialog__edit {
    width: 192px;
    max-width: 50vw;
}

.dialog__label {
    color: var(--color__comment);
}

.dialog__close-button {
    font-size: 0.8em;
}

.dialog__button-delete {
    color: var(--color__red);
}

.dialog__button-delete:hover,
.dialog__button-delete:focus,
.dialog__button-delete:active {
    border-color: var(--color__red);
}

.force-graph__caption {
    font-size: var(--font__small);
    text-align: center;
}

/* Tablet-portrait and up */
@media screen and (min-width: 600px) {
    h1 {
        width: 70vw;
    }

    .toolbar {
        flex-flow: row;
    }

    .graph-table-wrapper {
        width: initial;
    }

    .footer {
        flex-flow: row;
        justify-content: space-between;
    }

    [data-reach-dialog-content] {
        padding: 24px;
        width: 70vw;
        margin: 10vh auto;
    }
}

/* Tablet-landscape and up */
@media screen and (min-width: 900px) {
    .footer,
    .how-to {
        width: 768px;
        margin: 1em auto;
    }

    .toolbar {
        flex-wrap: wrap;
    }

    .how-to {
        padding: 0;
    }

    .layout {
        width: 100%;
        max-width: 1024px;
        margin: 1em auto;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/* Desktop and up */
@media screen and (min-width: 1200px) {
    .force-graph {
        width: 400px;
    }

    [data-reach-dialog-content] {
        padding: 48px;
        width: 50vw;
    }
}

/* Big desktop and up */

/*
@media screen and (min-width: 1800px) {
}
*/


/*# sourceMappingURL=/style.e308ff8e.css.map */